

.fill-space{flex: 1 1 auto;}

.main{margin: -8px; background: lightgrey}

.container{margin: 8px;}

.input-container{
  margin: 16px auto;
  width: 100%;
  padding: 10px;
}

md-card{
  margin-bottom: 16px;
}


// /deep/ md-tab-group {
//     .md-tab-header {
//         font-size: 12px !important;
//         display: flex;
//         background: #1a1a59;
//         flex-flow: row wrap;
//         align-items: center;
//         .md-tab-label {
//             flex: 1;
//             min-width: 1px;
//         }
//     }
// }

// .demo-tab-group {
//   border: 1px solid #e0e0e0;
//   margin-bottom: 40px;
//   .md-tab-header {
//     background: #f9f9f9;
//   }
//   .md-tab-body-content {
//     padding: 12px;
//   }
// }