.footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.menu-text{
    text-align: center;
}

.full{
    margin-top: 8px;
    width: 100%;
}

.fill-space{flex: 1 1 auto;}

.main{ background: lightgrey;}

.top{
    margin-top: 16px;
}

.input-container{
  margin: 16px auto;
  width: 100%;
  padding: 10px;
}

md-card{
  margin-bottom: 16px;
}


/deep/ md-tab-group {
    .md-tab-header {
        font-size: 12px !important;
        display: flex;
        background: #d3d3d3;
        flex-flow: row wrap;
        align-items: center;
        .md-tab-label {
            flex: 1;
            min-width: 1px;
        }
    }
}

/*// .demo-tab-group {
//   border: 1px solid #e0e0e0;
//   margin-bottom: 40px;
//   .md-tab-header {
//     background: #f9f9f9;
//   }
//   .md-tab-body-content {
//     padding: 12px;
//   }
// }*/

.alignCenter{
  text-align: center;
}

.line{
  background: black;
  height: 2px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}