<div class="container top">
    <md-card>
        <md-card-title>All Users</md-card-title>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>