<md-toolbar color="primary">
    <span>Lunch Box</span>
    <span class="fill-space"></span>
    <span>@Anku</span>
</md-toolbar>

<router-outlet></router-outlet>

<div class="container">

    <div>
        <span>Follow us: </span>
        <span class="fill-space"></span>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https//www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div>
        <span>Download app: </span>
        <a href="https://www.play.google.com/"><i class="fa fa-android" aria-hidden="true"></i></a>
    </div>
</div>
